.zoom-container {
    transform: scale(0.85); /* Simulates 90% zoom */
    display: flex;
    transform-origin: top left; /* Ensures scaling starts from the top-left */
    align-items: center;
    /* width: 111.1%; Counteracts the shrinking effect to maintain layout */
    /* height: 111.1%; */
}
